{% extends 'base.html' %}

{% block body %}
<h3 class="m-4">Movimentações</h3>
<div class="row">
  <div class="col-12">
    {% if movimentacoes %}
    <div class="card bg-light ms-4 me-4 mb-4">
      <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i> Todas as movimentações
      </div>
      <div class="card-body">
        <p class="card-text">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Data</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Valor unitário</th>
                  <th scope="col">Taxas</th>
                  <th scope="col">Total</th>
                  <th scope="col">Corretora</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for ativo in movimentacoes %}
                  <tr>
                    <td>{{ ativo.ativo }}</td>
                    {% if ativo.tipo_de_operacao == "A" %}
                      <td><span class="badge bg-success">{{ ativo.get_tipo_de_operacao_display }}</span></td>
                    {% else %}
                      <td><span class="badge bg-danger">{{ ativo.get_tipo_de_operacao_display }}</span></td>
                    {% endif %}
                    <td>{{ ativo.data_compra|date:"d/m/Y" }}</td>
                    <td>{{ ativo.quantidade }}</td>
                    <td>R$ {{ ativo.valor_unitario|floatformat:2 }}</td>
                    <td>R$ {{ ativo.taxa|floatformat:2 }}</td>
                    <td>R$ {{ ativo.total_aplicado_por_movimentacao|floatformat:2 }}</td>
                    <td>{{ ativo.corretora.nome}}</td>
                    

                    <td>
                      <button type="button" class="btn btn-success me-1" href="" data-bs-toggle="modal" data-bs-target="#myModal{{ativo.id}}">
                        <i class="fa-solid fa-circle-info fa-lg"></i>
                      </button>
                      

                      <!-- Modal - View Transaction -->
                      {% include "modal_view_transaction.html" %}

                      <button type="button" class="btn btn-warning me-1" data-bs-toggle="modal" data-bs-target="#myModalEdit{{ativo.id}}">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                      </button>

                      <!-- Modal - Edit Transaction -->

                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModalDelete{{ativo.id}}">
                        <i class="fa-solid fa-trash-can fa-lg"></i>
                      </button>
                    
                      <!-- Modal - Delete Transaction -->
                      {% include "modal_delete_transaction.html" %}
                    </td>
                  </tr>
                {% endfor %}
                
              </tbody>
            </table>
            {% include "pagination.html" %}
          </div>
        </p>
      </div>
    </div>
    {% else %}
      <h5 class="alert alert-primary ms-4 me-4">Não há ativos para exibir.</h5>
    {% endif %}
  </div>
</div>


{% endblock body %}
