<div class="modal" id="myModalDelete{{ativo.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Student: {{ student.first_name }} {{ student.last_name }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Tem certeza de que quer excluir esta movimentação?</p>
        </div>
        <div class="modal-footer">
          <form action="{% url "delete" ativo.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>